.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
    transition: opacity 1s ease-in-out;
    /* Smooth transition for background images */
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* Transparent overlay */
    z-index: -1;
}

.fade-in {
    opacity: 1;
}