.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 15px;
    width: 600px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
    width: 85%;
    padding: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 8px;
}

input[type='radio'] {
    display: inline;
    width: auto;
    margin-right: 5px;
}

select { 
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button { 
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #4206a3;
    width: 40%;
    font-size: 16px;
}

button:hover {
    background-color: #2b036c;
}

label {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 8px; 
    text-align: left;
    font-weight: bold;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4206a3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 10px;
}
.input img{
    height:50px;
    width: 50px
}
.input input{
    border: none;
    width:80%;
    margin-left: 10px;
    height: 80%;
}
.heading{
    text-align: center;
    color: blue;
    margin-top: 20px;
}