

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


@media (max-width: 1200px) {
    .nav {
        margin: 20px 60px;
    }

    .nav-logo {
        font-size: 36px;
    }

    .nav-menu {
        font-size: 24px;
        gap: 15px;
    }

    .nav-login {
        padding: 8px 30px;
    }
}

@media (max-width: 768px) {
    .nav {
        margin: 10px 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-logo {
        font-size: 30px;
    }

    .nav-menu {
        font-size: 20px;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-login {
        padding: 6px 20px;
    }
}

@media (max-width: 480px) {
    .nav {
        margin: 5px 15px;
    }

    .nav-logo {
        font-size: 24px;
    }

    .nav-menu {
        font-size: 18px;
        gap: 8px;
    }

    .nav-login {
        padding: 4px 15px;
    }
}