.login-background {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: none;
  object-fit: cover;
  background: linear-gradient(to bottom, #f3f2ef, #e9e5df);
  /* LinkedIn-like gradient */
}