@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(to bottom, #f3f2ef, #e9e5df);
  /* LinkedIn-like gradient */
  min-height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
}