.features-container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: transparent;
    /* Set background to transparent */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #0073b1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Add text shadow for visibility */
    text-align: center;
    font-weight: bold;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns per row */
    grid-template-rows: repeat(2, auto);
    /* Limit to two rows */
    grid-gap: 20px;
    width: 100%;
    max-height: calc(2 * 200px + 20px);
    /* Limit height to two rows with gap */
    overflow: hidden;
    /* Hide extra content */
    background-color: transparent;
    /* Set background to transparent */
}

.feature {
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.7s ease;
    color: white;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature-icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@media (min-width: 768px) {
    .features {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}